<!-- Swagger documentation -->
<script type="text/html" data-template-name="swagger-doc">
  <div class="form-row">
    <label>
      <span data-i18n="swagger.label.path"></span>
    </label>
  </div>

  <div class="form-row">
    <ul
      style="background: #fff; min-width: 600px; margin-bottom: 20px;"
      id="node-config-swagger-tabs"
    ></ul>
  </div>

  <div id="node-config-swagger-tabs-content" style="min-height: 350px">
    <div id="swagger-tab-config">
      <div class="form-row">
        <label for="node-config-input-path"
          ><i class="fa fa-tasks"></i>
          <span data-i18n="swagger.config.label">Use</span></label
        >
        <select type="text" id="node-config-input-path" style="width:80%;">
          <option
            value=""
            data-i18n="swagger.config.select.option.defaul.label"
          >
            - custom configuration -
          </option>
        </select>
      </div>
    </div>

    <div id="swagger-tab-editor"></div>
  </div>
</script>

<script type="text/x-red" data-help-name="swagger-doc">
  <p>Describes HTTP and SOCKET endpoints using OpenApi documentation via Swagger Editor.</p>
  <p>You can select a OpenApi configuration to be applied to the choosen HTTP/SOCKET endpoint.</p>
  <p>Note: There will be no typecheck nor parameter validation applied to the choosen HTTP/SOCKET endpoint yet. Maybe in a future version</p>
</script>

<script type="text/javascript">
  (function () {
    $("<script>", {
      src: "./openapi/lib",
    }).appendTo("head");

    const openApi = new OpenApi($, "#node-config-input-path");

    RED.nodes.registerType("swagger-doc", {
      category: "config",
      exclusive: true,
      defaults: {
        path: {
          value: "",
        },
      },
      label: function () {
        return this._("swagger.title");
      },
      onpaletteadd: function () {
        // console.log('swagger', 'paletteadd')
        openApi.init();
      },
      oneditprepare: function () {
        // console.log('swagger', 'editprepare')
        const node = this;
        openApi.setNode(node);

        const tabs = RED.tabs.create({
          id: "node-config-swagger-tabs",
          onchange: function (tab) {
            $("#node-config-swagger-tabs-content").children().hide();
            $("#" + tab.id).show();
          },
        });

        tabs.addTab({
          id: "swagger-tab-config",
          label: this._("swagger.tabs-label.config"),
        });

        tabs.addTab({
          id: "swagger-tab-editor",
          label: this._("swagger.tabs-label.editor"),
        });

        // Need to wait for it to be rendered before the sizing of the tabs
        // can be properly calculated
        setTimeout(function () {
          tabs.resize();
        }, 10);

        openApi.initSwaggerEditor();
      },
      oneditsave: function () {
        // console.log('swagger', 'editsave')
        const node = this;
        openApi.setNode(node);
        openApi.save();
      },
    });
  })();
</script>
